.cef-content{
    filter: drop-shadow(0px 17px 40px rgba(0, 0, 0, 0.12));
}

.cef-about{
    width: 100%;
    position: relative;
    height: 447px;
    background-color: #FFF8A7;
    padding: 27px 0 0 91px;
    margin-top: 20px;
    border-radius: 30px;
}

.cef-title{
    margin-bottom: 30px;
}

.cef-main-text{
    margin-bottom: 21px;
}

.cef-hands-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.cef-form{
    padding: 24px 100px;
    background-color: var(--primary-orange);
    position: relative;
    top: -30px;
    border-radius: 30px;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name-inputs{
    display: flex;
    gap: 33px;
}

.input, .select-wrapper, .cef-comments-textarea{
    width: 100%;
    border-radius: 4px;
    background-color: var(--white);
    padding: 15px 20px;
    color: #666666;
}

.input::placeholder, .cef-comments-textarea::placeholder{
    color: #666666; 
    opacity: 1;
}

.select-wrapper{
    background-color: #fff;
}

.select{
    width: 100%;
}

.gender-input-wrapper {
    display: flex;
    align-items: center;
    gap: 43px;
}

.gender-input-radio {
    width: 57px;
    display: none;
}

.gender-label-img{
    width: 56px;
    height: 60px;
}

.gender-input-label {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 21px;
    align-items: center;
}

.gender-input-radio:checked+.gender-input-label::before {
    width: 25px;
    height: 29px;
    content: url('../imgs/checkbox-checked-icon.svg');
}

.gender-input-radio:not(:checked)+.gender-input-label::before {
    width: 25px;
    height: 29px;
    content: url('../imgs/checkbox-icon.svg');
}

.cef-comments-textarea{
    resize: none;
    margin-bottom: 12px;
}

.remember-checkbox{
    display: flex;
    gap: 10px;
    font-size: 11px;
    font-family: 'Abel', serif;
}

.cef-btn{
    width: 121px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 35px;
}

.cef-bc-img{
    width: 50%;
    height: 723px;
    position: absolute;
    z-index: -1;
    top: 30%;
    right: -20%;
}